<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        WWWWEEK</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <style>


    </style>
</head>

<body>
    <header>
        <h1>
            <a href="/main">
                WELCOME!</a>
        </h1>
    </header>

    <nav id="top_week">
        <ul>
            <li><a href="/<%=week[0].day%>">Mon.</a></li>
            <li><a href="/<%=week[1].day%>">Tue.</a></li>
            <li><a href="/<%=week[2].day%>">Wed.</a></li>
            <li><a href="/<%=week[3].day%>">Thu.</a></li>
            <li><a href="/<%=week[4].day%>">Fri.</a></li>
            <li><a href="/<%=week[5].day%>">Sat.</a></li>
            <li><a href="/<%=week[6].day%>">Sun.</a></li>
        </ul>
    </nav>
    <section>
        <div id="left">
            <img src="./img/suzy.jpg" width="200px">
            <p>
                <%=id%>님 지금 로그인~!<br>
                    <button>Mypage</button> <button type="button" onclick="location.href='/logout'">Logout</button>
            </p>
            <nav id="left_week">
                <ul>
                    <h1><a href="/board">TODAY is..</a></h1>
                    <li><a href="/<%=week[0].day%>">Monday</a></li>
                    <li><a href="/<%=week[1].day%>">Tuesday</a></li>
                    <li><a href="/<%=week[2].day%>">Wednesday</a></li>
                    <li><a href="/<%=week[3].day%>">Thursday</a></li>
                    <li><a href="/<%=week[4].day%>">Friday</a></li>
                    <li><a href="/<%=week[5].day%>">Saturday</a></li>
                    <li><a href="/<%=week[6].day%>">Sunday</a></li>

                </ul>
            </nav>
            <form method="post" action="/search">

                <input type="search" name="search">
                <button type="submit">SEARCH</button>
            </form>
        </div>
        <div id="right">
        </div>
    </section>
    <footer>
        마지막이지롱
    </footer>
</body>

</html>
